.slider-box {
  display: flex;
  flex-direction: column;
  gap: 13px;
  flex: 0.5; /* Take up equal space */
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.slider-label {
  font-size: 12px;
  color: #fff;
  margin-bottom: 5px;
  font-family: 'Press Start 2P', cursive; /* Retro font */
}

.styled-slider {
  appearance: none;
  width: 80%;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s;
}

.styled-slider::-webkit-slider-thumb {
  appearance: none;
  width: 22px;
  height: 22px;
  background: #13d613;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.styled-slider::-webkit-slider-thumb:hover {
  transform: scale(1.1); /* Increase size by 10% */
}

.styled-slider::-moz-range-thumb {
  width: 22px;
  height: 22px;
  background: #4caf50;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.styled-slider::-moz-range-thumb:hover {
  transform: scale(1.1); /* Increase size by 10% */
}