.buttons-box {
  margin: 25px;
  display: flex;
  flex-direction: row;
  gap: 1px;
  flex: 0.3; /* Take up equal space */
}

/* Console Buttons */
.console-button {
  background-color: #00ff00; /* Alien green */
  color: #000;
  border: 2px solid #00cc00; /* Light green border */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive; /* Retro font */
  font-size: 14px; /* Consistent text size */
  transition: background-color 0.3s, transform 0.2s ease-in-out, box-shadow 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
}

.console-button:hover {
  background-color: #00cc00; /* Darker green on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7); /* Add a deeper shadow on hover */
}

.console-button:active {
  transform: scale(0.95); /* Slightly shrink on click */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Reduce shadow on click */
}